<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <properties resource="jdbc.properties" />
    <context id="base" targetRuntime="MyBatis3">

        <!-- 分页插件 -->
        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"></plugin>

        <!-- 生成的pojo，将implements Serializable-->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"></plugin>

        <!-- 生成的pojo，将自动生成toString方法-->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />

        <!--覆盖生成XML文件-->
        <plugin type="org.mybatis.generator.plugins.UnmergeableXmlMappersPlugin" />

        <commentGenerator>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true" />
        </commentGenerator>
        <!-- 数据库链接URL、用户名、密码 -->
        <jdbcConnection driverClass="${jdbc.driverClassName}"
                        connectionURL="${jdbc.url}"
                        userId="${jdbc.username}"
                        password="${jdbc.password}">
        </jdbcConnection>



        <!--
        默认false，把JDBC DECIMAL 和 NUMERIC 类型解析为 Integer
            true，把JDBC DECIMAL 和 NUMERIC 类型解析为java.math.BigDecimal
        -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="true" />
        </javaTypeResolver>

        <!--
        生成model模型，对应的包路径，以及文件存放路径(targetProject)，targetProject可以指定具体的路径,如./src/main/java，
        也可以使用“MAVEN”来自动生成，这样生成的代码会在target/generatord-source目录下
        -->
        <!--<javaModelGenerator targetPackage="com.joey.mybaties.test.pojo" targetProject="MAVEN">-->
        <javaModelGenerator targetPackage="com.assess.model" targetProject="./src/main/java">
            <property name="enableSubPackages" value="true"/>
            <!-- 从数据库返回的值被清理前后的空格  -->
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!--对应的mapper.xml文件  -->
        <sqlMapGenerator targetPackage="mapping" targetProject="./src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- 对应的Mapper接口类文件 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.assess.dao" targetProject="./src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>


        <!-- 列出要生成代码的所有表，这里配置的是不生成Example文件 -->
        <!--<table tableName="students" domainObjectName="Students" >-->
            <!--驼峰命名-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--如果设置了runtimeTableName，那么在生成的SQL中，使用该指定的tablename，而不是table元素上的tablename-->
            <!--<property name="runtimeTableName" value="students"/>
        </table>-->

        <!--<table tableName="s_user">
            <generatedKey column="id" sqlStatement="Mysql" type="post" identity="true"/>
            <columnOverride column="real_name" javaType="java.lang.String" />
            <columnOverride column="account" javaType="java.lang.String" />
            <columnOverride column="password" javaType="java.lang.String" />
            <columnOverride column="role" javaType="java.lang.String" />
            <columnOverride column="dis_uid" javaType="java.lang.Integer" />
        </table>-->
        <!--<table tableName="s_url">
            <generatedKey column="id" sqlStatement="Mysql" type="post" identity="true"/>
            <columnOverride column="create_uid" javaType="java.lang.Integer" />
            <columnOverride column="used_uid" javaType="java.lang.Integer" />
            <columnOverride column="url" javaType="java.lang.String" />
            <columnOverride column="code" javaType="java.lang.String" />
        </table>-->
        <!--<table tableName="s_app">
            <generatedKey column="id" sqlStatement="Mysql" type="post" identity="true"/>
            <columnOverride column="app_url" javaType="java.lang.String" />
            <columnOverride column="logo_url" javaType="java.lang.String" />
            <columnOverride column="title" javaType="java.lang.String" />
            <columnOverride column="remark" javaType="java.lang.String" />
            <columnOverride column="index_number" javaType="java.lang.Integer" />
    </table>-->

        <!--<table tableName="s_code_views">
            <generatedKey column="id" sqlStatement="Mysql" type="post" identity="true"/>
            <columnOverride column="code" javaType="java.lang.String" />
            <columnOverride column="views" javaType="java.lang.Integer" />
        </table>-->
        <table tableName="s_action">
            <generatedKey column="id" sqlStatement="Mysql" type="post" identity="true"/>
            <columnOverride column="uid" javaType="java.lang.Integer" />
            <columnOverride column="app_id" javaType="java.lang.Integer" />
            <columnOverride column="ip" javaType="java.lang.String" />
        </table>
    </context>
</generatorConfiguration>